@use "../abstracts/custom-props" as *;

/* General
--------------------------------------------------- */
.site-main-header-wrap {
    .site-main-header-inner-wrap,
    .site-branding a.brand img {
        transition: all 0.2s ease-in-out;
    }

    &.item-is-stuck .site-branding a.brand img {
        max-width: 167px;
    }
}

/* Breadcrumbs
--------------------------------------------------- */
.site-main {
    .kadence-breadcrumbs a {
        text-decoration: none;
        color: var(--wp--preset--color--theme-palette-1);

        &:hover {
            color: var(--wp--preset--color--theme-palette-5);
            text-decoration: underline;
        }
    }

    .kadence-breadcrumbs .kadence-bread-current,
    .kadence-breadcrumbs .breadcrumb_last {
        font-weight: 700;
    }
}

.wp-block-kadence-column.single-sidebar .kt-inside-inner-col {
    position: sticky;
    top: 7rem;
}
