:root {
    --wp--preset--color--theme-palette-1: #f29200;
    --wp--preset--color--theme-palette-2: #f9b234;
    --wp--preset--color--theme-palette-3: #2c2e83;
    --wp--preset--color--theme-palette-4: #009fe3;
    --wp--preset--color--theme-palette-5: #444444;
    --wp--preset--color--theme-palette-6: #f2f6fe;
    --wp--preset--color--theme-palette-7: #ffffff;
    --ff-heading: "Source Sans Pro", sans-serif;
    --border-radius: 10px;
}

.wp-block-button__link {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}