:root {
    --wp--preset--color--theme-palette-1: #f29200;
    --wp--preset--color--theme-palette-2: #f9b234;
    --wp--preset--color--theme-palette-3: #2c2e83;
    --wp--preset--color--theme-palette-4: #009fe3;
    --wp--preset--color--theme-palette-5: #444444;
    --wp--preset--color--theme-palette-6: #f2f6fe;
    --wp--preset--color--theme-palette-7: #ffffff;
    --ff-heading: "Source Sans Pro", sans-serif;
    --border-radius: 10px;
}

/* Kadence
--------------------------------------------------- */
/* Border radius at the grids */
.wp-block-kadence-postgrid.posts-with-border-radius .kadence-post-image img {
    border-radius: 10px;
}

/* Categories at the grids */
.kt-blocks-above-categories a {
    text-decoration: none;
}

.site-footer .footer-html {
    margin: 0.2em 0;
}

.wp-block-kadence-postgrid.kt-blocks-post-loop-block .entry-content .kt-blocks-post-readmore {
    position: relative;
    font-family: var(--ff-heading);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.wp-block-kadence-postgrid.kt-blocks-post-loop-block .entry-content .kt-blocks-post-readmore::before {
    content: ">";
    font-family: var(--ff-heading);
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    padding-right: 0.21rem;
}

.entry-content .link-with-chevron a {
    position: relative;
    font-family: var(--ff-heading);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.entry-content .link-with-chevron a:hover {
    color: var(--wp--preset--color--theme-palette-2);
}
.entry-content .link-with-chevron a::before {
    content: ">";
    font-family: var(--ff-heading);
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    padding-right: 0.21rem;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.pagination .nav-links .page-numbers {
    font-family: var(--ff-heading);
}

.popup-drawer .drawer-inner .drawer-header {
    min-height: calc(2rem + 40px);
}

.mobile-navigation ul li > a {
    text-transform: uppercase;
}

@media (min-width: 960px) {
    .site-header .wp-block-kadence-tabs.gtm-mega-menu-tabs .kt-tabs-title-list .kt-tab-title-active .kt-tab-title, .site-header .wp-block-kadence-tabs.gtm-mega-menu-tabs > .kt-tabs-content-wrap > .kt-tabs-accordion-title.kt-tab-title-active .kt-tab-title, .site-header .wp-block-kadence-tabs.gtm-mega-menu-tabs .kt-tabs-title-list li .kt-tab-title, .site-header .wp-block-kadence-tabs.gtm-mega-menu-tabs .kt-tabs-content-wrap .kt-tabs-accordion-title .kt-tab-title {
        border-color: white;
    }
}